.product-details{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0,0,0,.1);
  padding: .5em 1em;
  margin: 1em;
}
.add-to-button{
  border:1px solid green;
  margin: 1em;
  cursor: pointer;
  display: inline-block;
  padding: .5em;
}
