<div class="container">
  <h1 class="display-4 text-center">{{pageTitle}}</h1>
  <div class="row justify-content-center">
    <ul class="products-list">
      <li class="products-item" [class.selected]="product === selectedProduct" *ngFor="let product of allProducts" (click)="onProductSelect(product)">
        <h4 class="prod-title">{{product.productTitle}}</h4>
      </li>
    </ul>
  </div>
  <app-productdetails [productDet]="selectedProduct" (closeDetails)="selectedProduct = null;"></app-productdetails>
  </div>
